
   * { box-sizing: border-box; }

   /* force scroll bar */
   html { overflow-y: scroll; }
   
   body { font-family: sans-serif; }
   
   @import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

   html,
   body {
	 -moz-box-sizing: border-box;
		  box-sizing: border-box;
	 height: 100%;
	 width: 100%; 
	 background: #FFF;
	 font-family: 'Roboto', sans-serif;
	 font-weight: 400;
	 position:relative;
	 
   }


.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.container-fostrap {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}
.fostrap-logo {
  width: 100px;
  margin-bottom:15px
}
 
.card {
  display: block; 
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    transition: box-shadow .25s; 
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
  width: 100%;
  height:200px;
  margin-top:2px;
  border-top-left-radius:1px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover; 
  transition: all .25s ease;
} 
.card-content {
  padding:10px;
  text-align:left;
}
.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card-read-more {
  border-top: 1px solid #D4D4D4;
}
.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase
}

p.main{
	margin-right: 50px;
	margin-left: 60px;
	font-size: 20px;
	margin-bottom:5px;
	margin-top: 20px;
}

p.bottom {
	margin-top: 5px !important;
	margin-right: 50px !important;
	margin-left: 60px !important;
	text-align: center !important;
}

h1.main {
	font-size: 60px;
	color: #1717c2;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 50px;
	margin-left: 60px;
 }

 h2.customized {
	font-size:40px;
	 margin-top:60px;
	margin-left: 60px; 
	margin-bottom: 0px !important;
 }

 .center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
  }

 .row-m-t{
	margin-top: 0px;
	margin-bottom:50px;
  }

.wrapper-m-t{
	margin-top:0px;
}

p.moreheader{
	margin-top:50px;
}